<ul>
    <li *ngFor="let creditCard of creditCards | async">
        card number: {{creditCard.card_number}}
        <br>
        balance: {{creditCard.balance}}
    </li>
</ul>

<form>
    <h2>Add Card</h2>
    <input name="card" [(ngModel)]="newCard" placeholder="Card Number" type="text"/>
    <button type="submit" (click)="addCard()">add card</button>
</form>
